a, a:link, a:visited, a:hover, a:active {
    text-decoration:none;
    color:#00bf71;
    transition:color 0.20s linear 0s;
    -o-transition:color 0.20s linear 0s;
    -ms-transition:color 0.20s linear 0s;
    -moz-transition:color 0.20s linear 0s;
    -webkit-transition:color 0.20s linear 0s;
  }  
a:hover {
    color:#00bf71;
}
a.demo-vid {
    color: #66d9aa;
    font-size: 1.2em;
}
a.white-btn {
	/*border: 1px solid #fff;*/
    border-radius: 3px;
    background: #00bf71;
	color: #fff;
	display: block;
	font-size: 0.85em;
	margin-top: 2em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.white-btn:hover {
    background: #008f55 repeat scroll 0 0;
    color: #fff;
}
a.color-btn, form.customform button.color-btn {
	background: #888b8d;
	border: 1px solid #434446;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 0.85em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
a.color-btn:hover, form.customform button.color-btn:hover {
	border: 1px solid #00bf71;
    color: #fff;
    background: #00bf71;
}
#topbar {
	background: none repeat scroll 0 0 #434446;
	border-bottom: 1px solid #888b8d;
	padding: 0.3125em 0;
}
#topbar p {
	color: #fff;
	font-size: 0.75em;
	opacity: 0.5;
	position: relative;
	top: 2px;
}
#topbar p strong {
	font-weight: 600;
}
#topbar i {
	color: #ffffff;
	font-size: 1.1em;
	opacity: 0.5;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
#topbar i:hover {
	color: #00bf71;
	cursor: pointer;
	opacity: 1;
}
nav {
	background: none repeat scroll 0 0 #00bf71;
}
header {
	/*border-bottom: 4px solid #434446;*/
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	z-index: 10;

}
p.logo {
	color: #fff;
	font-size: 1.7em;
	font-weight: 300;
	position: relative;
	text-transform: uppercase;
	top: 17px;
}
img.logo {
    padding-top: 20px;
	border: none;
}
p.logo strong {
	font-weight: 700;
}
.top-nav li a {
	border-top: 2px solid #00af68;
	color: #fff;
	font-size: 0.95em;
	font-weight: 600;
	padding: 2.1em 1.5em 2.5em;
	text-transform: uppercase;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
.top-nav li a:hover, .top-nav li.active-item a {
	background: none repeat scroll 0 0 #008f55;
	/*border-top: 2px solid #00bf71;*/
	color: #fff;
	position: relative;
}
#carousel .text {
	position: absolute;
	top: 40%;
	z-index: 10;
}
.item {
	overflow: hidden;
	width: 100%;
}
.container{
	position: relative;
}
.resized{
	max-height: 29.37em !important;
}
.top-left {
	position: absolute;
	top: 35%;
	left: 15%;
}
.header{
	display: block;
	width: 100%;
	object-fit: cover;
	max-height: 35.5em;
}
.h2title{
	background: none repeat scroll 0 0 #008f55;
	color: #fff;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 1px 0;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 5px;
	line-height: 1.3;
}
.psubtitle{
	background: none repeat scroll 0 0 #00bf71;
	color: #fff;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 5px;
	font-size: 1rem;
	line-height: 1.6;
	box-sizing: border-box;
	margin: 0;
}
.prev-arrow, .next-arrow {
	background: none repeat scroll 0 0 #888b8d;
	cursor: pointer;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 1px;
	text-align: center;
	width: 30px;
}
#carousel .text h2 {
	background: none repeat scroll 0 0 #008f55;
	color: #fff;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 1px 0;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 5px;
}
#carousel .text p {
	background: none repeat scroll 0 0 #00bf71;
	color: #fff;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 5px;
}
#carousel .owl-dots {
	background: none repeat scroll 0 0 #888b8d;
	bottom: 0;
	margin: 0;
	padding: 0.625em 0;
	position: absolute;
	width: 100%;
}
.owl-carousel.owl-theme .owl-dot span {
	background: none repeat scroll 0 0 #888b8d;
	border: 3px solid #888b8d;
	height: 18px;
	margin: 0 0.3125em;
	opacity: 1;
	width: 18px;
}
.owl-carousel.owl-theme .owl-dot.active span, .owl-carousel.owl-theme .owl-dot:hover span {
	background: none repeat scroll 0 0 #00bf71;
}
#download-block {
	background: none repeat scroll 0 0 #fff;
	padding: 6em 2em;
	text-align: center;
}
#download-block h1 {
	color: #888B8D;
	font-size: 2em;
	font-weight: 300;
	margin-top: 0;
}
#download-block p {
	color: #888B8D;
	font-size: 0.85em;
}
#steps {
	background: none repeat scroll 0 0 #f5f5f5;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	text-align: center;
	z-index: 2;
}
#steps i {
	background: none repeat scroll 0 0 #00bf71;
	border-radius: 100px;
	box-shadow: 0 0 2px 0 #888b8d inset;
	color: #fff;
	display: inline-block;
	font-size: 2em;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}
#steps h2 {
	font-size: 1em;
	font-weight: 600;
	margin: 1.25em 0;
	text-transform: uppercase;
}

#steps p {
	color: #888b8d;
	font-size: 0.85em;
	line-height: 1.5em;
}
#demo {
	background: none repeat scroll 0 0 #fff;
    padding: 6em 2em;
	position: relative;
	z-index: 2;
}
#demo:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#demo article {
	padding: 4em;
}
#embed-container {
	background: #f5f5f5 none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	z-index: 4;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
#embed-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
#ytplayer{
	display: block;
	margin: auto;
}
article h2 {
	font-size: 2em;
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 0.9;
	margin: 0 0 0.625em 0
}
article h1, article h2, article h3, article h4, article h5, article h6 {
	color: #434446;
}
.media-container {
  overflow: hidden;
}
.media-container video {
  display: block;
  height: 100%;
  max-width: none;
  min-width: 100%;
  width: auto;
}
article p, article li{
	color: #434446;
	font-size: 0.85em;
	opacity: 0.7;
	text-align: justify;
}
article a {
	color: #fff;
	font-size: 1em;
}
article ul {
	padding: 1.25em 0;
}
article ul li {
	list-style-type: none;
	margin: 0.625em 0;
	padding: 0 0 0 1em;
}
article ul li:before {
	background: #434446 none repeat scroll 0 0;
	color: #fff;
	content: "\f006";
	display: inline-block;
	/*font-family: 'Montserrat', 'Open Sans', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	height: 20px;
	line-height: 20px;
	margin-left: -1em;
	margin-right: 0.625em;
	text-align: center;
	width: 20px;
}
.demo-icons i {
	border: 2px solid #66d9aa;
	border-radius: 100px;
	color: #66d9aa;
	display: block;
	float: left;
	font-size: 1.6em;
	height: 60px;
	line-height: 60px;
	margin-right: 0.625em;
	text-align: center;
	width: 60px;
}
.demo-icons a {
    color: #66d9aa;
    font-size: 1.2em;
	line-height: 60px;
}
.demo-icons {
	display: block;
	margin-top: 2em;
}
h2.section-title:after {
	background: #434446 none repeat scroll 0 0;
	content: "";
	display: block;
	height: 1px;
	margin: 0.31225em auto 0;
	position: relative;
	width: 75px;
}
h2.section-title {
	color: #434446;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -1px;
	margin: 0 0 1.25em;
	text-align: center;
}

.tab-item {
	background: #fff none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.tab-item2 {
	background: #f5f5f5 none repeat scroll 0 0;
	margin-top: 1.25em;
	padding: 1.25em 0;
}
.demo-container {
	display: block;
	/*height: 100%;*/
	min-height: 337px;
	position: relative;
}
.image-cover{
	height: 496px;
	object-fit: cover;
	border: 1px solid #bbbbbb;
}
.widthauto{
	width: auto;
}
.demo-text {
	background: #434446 none repeat scroll 0 0;
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	padding: 1.25em;
	position: absolute;
	right: 0;
	text-align: center;
	transition: opacity 0.20s linear 0s;
	-o-transition: opacityd 0.20s linear 0s;
	-ms-transition: opacity 0.20s linear 0s;
	-moz-transition: opacity 0.20s linear 0s;
	-webkit-transition: opacity 0.20s linear 0s;
	width: 100%;
}
.demo-container:hover > .demo-text {
	opacity: 1;
}
.demo-text h4 {
	color: #fff;
	font-size: 1em;
	font-weight: 600;
}
.demo-text p {
	color: #fff;
	font-size: 0.8em;
	opacity: 0.7;
}
.tab-nav {
	display: table;
	max-width: 85rem;
}
a.tab-label, a.tab-label:link, a.tab-label:visited {
	background: #888b8d none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 1em;
	padding: 0.625em 1.25em;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
	border-radius: 5px;
}
a.tab-label:hover, a.tab-label.active-btn {
	background: #00bf71;
	color: #fff;
	border-radius: 5px;
}
#demo-instructions {
	background: #f5f5f5 none repeat scroll 0 0;
	padding: 6em 2em;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 4;
}
#set-up {
	background: #fff none repeat scroll 0 0;
	padding: 6em 2em;
}
#set-up h2 {
	color: #434446;
	margin: 0 0 1.25em;
}
#demo-instructions h2 {
	color: #434446;
	margin: 0 0 1.25em;
}
#set-up h2.section-title:after {
	background: #888B8D none repeat scroll 0 0;
}
#set-up i {
	background: none repeat scroll 0 0 #fff;
	border-radius: 80px;
	color: #00bf71;
	display: block;
	float: left;
	font-size: 1.8em;
	height: 80px;
	line-height: 80px;
	margin-right: 0.625em;
	text-align: center;
	width: 80px;
}

#set-up li {
	color: #fff;
}
.service-text {
	display: table;
	position: relative;
}
#set-up h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#set-up p {
	color: #fff;
	font-size: 0.8em;
}
#latest-news {
	background: #f3f3f3 none repeat scroll 0 0;
	box-shadow: 0px -10px 9px -11px rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 3;
}
.news-date {
	background: #00bf71 none repeat scroll 0 0;
	clear: both;
	color: #fff;
	display: block;
	float: none;
	height: 130px;
	padding: 0.625em 0;
	text-align: center;
	width: 100%;
}
.day {
	font-size: 2.5em;
	font-weight: 700;
}
.month, .year {
	font-size: 0.85em;
}
.news-text {
	background: #fff none repeat scroll 0 0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	height: 130px;
	padding: 0.625em 1.25em;
}
.news-text p {
	color: #777;
	font-size: 0.85em;
}
#contact {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	padding: 6em 2em;
	position: relative;
	z-index: 2;
}
#contact input, #contact textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
}
form.customform button.color-btn {
	height: auto;
	margin-top: 0;
}
#contact h2 {
	margin: 0 0 1.25em;
}
#contact h3 {
	color: #92c500;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em;
	text-transform: uppercase;
}
#contact p {
	font-size: 0.85em;
	font-style: normal;
	line-height: 2em;
}
#contact p strong {
	font-weight: 700;
}
#contact i {
	background: #e0e0e0 none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	line-height: 26px;
	margin: 0.625em;
	text-align: center;
	width: 26px;
}
#map-block {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);    
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}
.noborder-centered{
	border: none;
	display:block;
	margin:auto;
}
footer {
	background: none repeat scroll 0 0 #434446;
	padding: 1.5em 0;
}
footer p, footer a:visited, footer a, footer a:hover {
	color: #fff;
	font-size: 0.6em;
}
@media screen and (max-width: 768px) {
	.background-image {
		background-position: center;
	}
  header {
    position: relative;
  }
	img.logo {
		max-width: 50%;
		float: right;
		padding-bottom: 20px;
		padding-right: 20px;
		padding-top: 20px;
	}
	.top-left {
		top: 20%;
	}
	.h2title {
		font-size: 1.3em;
	}
	#download-block h1 {
		font-size: 1.5em;
	}
	h2.section-title {
		font-size: 2em;
		line-height: 1.1;
	}
  #carousel .text {
  	font-size: 0.8em;
  	top: 20%;
  }
  .owl-controls.clickable {
  	display: none!important;
  }
  .right {
  	float: none;
  }
  .social.right {
  	float: right;
  }
  #demo article {
  	padding: 4em 0em;
  }
  .news-text {
  	height: auto;
  }
}
@media screen and (max-width: 480px) {
  #topbar {
  	line-height: 1.625em;
  	text-align: center;
  }
  .social.right {
  	float: none;
  }
	img.logo {
		max-width: 50%;
		float: right;
		padding-bottom: 20px;
		padding-right: 20px;
	}
  p.logo, p.nav-text {
  	text-align: center;
  }
  h2.section-title {
    font-size: 2em;
    line-height: 1.1;
  }
  p.logo {
    top: 0;
    height: 51px;
  }
}

@media screen and (max-width: 320px) {
	.h2title {
		font-size: 0.9em;
	}
	.psubtitle {
		font-size: 0.8rem;
	}
	h2.section-title {
		font-size: 1.5em;
	}
	article h2 {
		font-size: 1.3em;
	}
	.demo-icons a {
		font-size: 1em;
	}
}
